{% extends "base.html" %} 
{% block title %}
  {{num}}
{% endblock %} 

{% block head %} 
    {{ super() }}
{% endblock %} 

{% block header%}
<h1><a href="{{url_for('home')}}">Cellular Automata</a> - {{num}}</h1>
<a href="{{url_for('ca', number=num)}}">Standard First Row </a> | <a href="{{url_for('random_seed', number=num)}}">Random First Row</a>
{% endblock %}
 
{% block content %}
  <div class="ca-wrap">
  {% for row in board %} 
  <div class="row">
    {% for i in  row %}
      <div class="cell {% if i=="1" %} on {% endif %}">
      </div>
    {% endfor %}
  </div>
 {% endfor %}
  </div> <!-- end ca wrap -->

{% endblock %}

